<!DOCTYPE html>
<html>
	<head>
		<title>Reports</title>

		<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
		<link rel="stylesheet" href="style.css" />

		<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.1/angular.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/Chart.js/0.2.0/Chart.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.4.0/moment.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-sparklines/2.1.2/jquery.sparkline.min.js"></script>
		<script src="main.js"></script>
	</head>

	<body ng-app="metricsApp">
		<div class="container" ng-controller="MainController">
			{{ reportDate | date: 'EEEE, MMMM d,y, h:mm a' }}

			<canvas class="graph" width="1024" height="250" graph="metricsData"></canvas>

			<ul class="sites">
				<li class="site" ng-repeat="(url, data) in latestMetricsData">
					<div class="viewport-meta">
						<h2 class="site__title">{{ url | domain }}</h2>
						<a class="site__url" href="{{url}}" target="_new">{{ url }}</a>
					</div>
					<ul class="viewports">
						<li class="viewport"
							ng-class="{'has-error': viewportMetrics.pageError}"
							ng-repeat="metrics in data | orderObjectBy:'viewportMetrics.viewportWidth'"
							ng-init="summary = metrics.summary">

							<div jq-sparkline ng-model="viewportMetrics.metrics" opts="{{ {type:'bullet', width:'150px', height:'35px'} }}"></div>

							<h3 class="viewport__title">{{ metrics.screenName }}</h3>
							<h4 class="viewport__summary">
								<div class="requests" ng-click="showRequests()">
									<span class="requests__size">{{ metrics.size | bytes }}</span>
									<span class="requests__count">{{ metrics.count }}</span>
								</div>

								<div class="frameworks"
									 ng-show="metrics.frameworksSummary._count > 0"
									 ng-click="showFrameworksRequests()">
									<span class="requests__size--nospacing">{{ metrics.frameworksSummary._size | bytes }}</span>
									<span class="requests__count">{{ metrics.frameworksSummary._count }}</span>

									<span class="requests--percent">{{ metrics.frameworksSummary._size / metrics.summary._size | percentage }}</span>
								</div>
							</h4>


							<p title="time to first byte" ng-show="summary.timeToFirstByte">
								<i class="fa fa-clock-o"></i>
								{{ summary.timeToFirstByte }}ms
							</p>

							<p title="html" ng-show="summary.html.size">
								<i class="fa fa-file"></i>
								<span class="requests__size">{{ summary.html.size | bytes }}</span>
								<span class="requests__count">{{ summary.html.entries.length }}</span>
							</p>

							<p title="css" ng-show="summary.css.size">
								<i class="fa fa-css3"></i>
								<span class="requests__size">{{ summary.css.size | bytes }}</span>
								<span class="requests__count">{{ summary.css.entries.length }}</span>
							</p>

							<p title="js" ng-show="summary.js.size">
								<i>JS</i>
								<span class="requests__size">{{ summary.js.size | bytes }}</span>
								<span class="requests__count">{{ summary.js.entries.length }}</span>
							</p>

							<p title="images" ng-show="summary.image.size">
								<i class="fa fa-picture-o"></i>
								<span class="requests__size">{{ summary.image.size | bytes }}</span>
								<span class="requests__count">{{ summary.image.entries.length }}</span>
							</p>

							<p title="web fonts" ng-show="summary.webfont.size">
								<i class="fa fa-font"></i>
								<span class="requests__size">{{ summary.webfont.size | bytes }}</span>
								<span class="requests__count">{{ summary.webfont.entries.length }}</span>
							</p>

							<!--a href="renders/{{ viewportMetrics.screenshot }}" target="render">Render</a-->
							<!--pre>{{ metrics | json }}</pre-->
						</li>
					</ul>
				</li>
			</ul>

		</div>
	</body>
</html>